<script>
	 

  import { scaleLinear, scaleLog } from 'd3-scale';
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
	const scaleX=scaleLog();
	const scaleY=scaleLinear();

  

  // Array
  const values = [2, 4, 6, 7, 9];
	
	
</script>
<style>
	circle{
		fill: steelblue;
		fill-opacity:0.5;
	}
</style>

<svg viewBox="0 0 {width} {height}">
	
	
  <g transform="translate({margin.left},{margin.top})">
		
		 <circle cx={scaleX(2),7}
						 cy ={scaleY(2)+7}
						 r=10 />
		<circle cx={scaleX(4),27}
						 cy ={scaleY(4)+7}
						 r=10/>
		<circle cx={scaleX(6),47}
						 cy ={scaleY(6)+7}
						 r=10 />
		<circle cx={scaleX(7),67}
						 cy ={scaleY(7)+7}
						 r=10 />
		<circle cx={scaleX(9),87}
						 cy ={scaleY(9)+7}
						 r=10 />
			      
  </g>
</svg>
