<script>
	

  import { scaleLinear } from 'd3-scale';
	import {scaleOrdinal} from 'd3-scale';
	import {scaleBand} from 'd3-scale';



  // Dimensions
  const width = 400;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
	

  // Array
    const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];;
	
  $: Y = values.map(d => d.y) 
	const xTicks = [2, 4, 6, 7, 9];
	const yTicks = [ 0, 1, 2, 3];
		function formatMobile(tick) {
		return "'" + tick.toString().slice(-2);
	}
	
	 	$: xScale = scaleLinear()
		.domain([0, xTicks.length])
		.range([margin.left, innerHeight]);

	$: yScale = scaleLinear()
		.domain([0, Math.max.apply(0, yTicks)])
		.range([ innerHeight,0]);
	$: barWidth = 30/ xTicks.length;
	
	
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
		
			<g class="axis y-axis">
			{#each yTicks as tick}
				<g class="tick tick-{tick}" transform="translate(0, {yScale(tick)})">
					<line x2="90%"></line>
					<text y="">{tick}</text>
				</g>
			{/each}
		</g>
 
    		<g class="axis x-axis">
			{#each values as point, i}
				<g class="tick " transform="translate({xScale(i)+30},{innerHeight/5})">
						<text x="" y="80">{width > 0 ? point.x : formatMobile(point.x)}</text>
				</g>
			{/each}
		</g> 
		
	<g class='bars'>
			{#each values as point, i}
				<rect
					x="{xScale(i)+30}"
					y="{yScale(point.x)}"
					width="{barWidth-4}"
					height="{yScale(0) - yScale(point.x)}"
				></rect>
			{/each}
		</g>	
			 
				<circle cx={xScale(2)+2}
						 cy ={yScale(1)}
						 r=3 />
		    	<circle cx={xScale(4)-13}
						 cy ={yScale(2)}
						 r=3 />
	<circle cx={xScale(6)-26}
						 cy ={yScale(1)}
						 r=3 />
	<circle cx={xScale(7)-26}
						 cy ={yScale(3)}
						 r=3 />
		<circle cx={xScale(9)-38}
						 cy ={yScale(1)}
						 r=3 />
		
	</g>
</svg>

<style>
	
	circle{
		fill:#1976D2 
	}
	.chart {
		width: 100%;
		max-width: 400px;
		margin: 0 auto;
	}
	
	svg {
		position: relative;
		width: 100%;
		height: 400px;
	}
	
		.tick {
		font-family: Arial;
		font-size: .55em;
		font-weight: 200;
	}
	.tick.tick-0 line {
		stroke-dasharray: 0;
	}
	.tick line {
		stroke: #e2e2e2;
		stroke-dasharray: 2;
	}
	
		.x-axis .tick text {
		text-anchor: middle;
	}
	
		.bars rect {
		fill: #F9E79F ;
		stroke: none;
		opacity: 0.55;
	}
</style>