
<script>
  import {scaleBand, scaleLinear } from "d3-scale";
 
 // Dimensions
 const width = 600;
 const height = 300;
 const margin = { top: 10, right: 10, bottom: 30, left: 60 };
 const innerWidth = width - margin.left - margin.right;
 const innerHeight = height - margin.top - margin.bottom;
 

 // Array
 const data = [
   { service: "Netflix", viewers: 2.9 },
   { service: "Amazon Prime Video", viewers: 1.3 },
   { service: "Disney+", viewers: 2.1 },
   { service: "Hulu", viewers: 0.9 },
   { service: "Apple TV", viewers: 1.1 },
   { service: "Rakuten", viewers: 0.4 }
 ];
 
 $: viewers = data.map(d => d.viewers) 
 const xTicks = ["Netflix", "Amazon Prime Video", "Disney+", "Hulu", "Apple TV", "Rakuten"];
 const yTicks = [0, 0.5, 1, 1.5, 2, 2.5, 3];
   function formatMobile(tick) {
   return "'" + tick.toString().slice(-2);
 }
 
   $: xScale = scaleLinear()
   .domain([0, xTicks.length])
   .range([margin.left, width - margin.right]);

 $: yScale = scaleLinear()
   .domain([0, Math.max.apply(null, yTicks)])
   .range([height - margin.bottom, margin.top]);
 $: barWidth = innerWidth / xTicks.length;
 
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
 <g transform={`translate(${margin.left},${margin.top})`}>
   
     <g class="axis y-axis">
     {#each yTicks as tick}
       <g class="tick tick-{tick}" transform="translate(0, {yScale(tick)})">
         <line x2="100%"></line>
         <text y="-4">{tick}</text>
       </g>
     {/each}
   </g>

       <g class="axis x-axis">
     {#each data as point, i}
       <g class="tick" transform="translate({xScale(i)},{height})">
         <text x="{barWidth/2}" y="-15">{width > 0 ? point.service : formatMobile(point.service)}</text>
       </g>
     {/each}
   </g>  
   
 <g class='bars'>
     {#each data as point, i}
       <rect
         x="{xScale(i) + 2}"
         y="{yScale(point.viewers)}"
         width="{barWidth - 4}"
         height="{yScale(0) - yScale(point.viewers)}"
       ></rect>
     {/each}
   </g>		
 </g>
</svg>

<style>
 .chart {
   width: 100%;
   max-width: 400px;
   margin: 0 auto;
 }
 
 svg {
   position: relative;
   width: 100%;
   height: 300px;
 }
 
   .tick {
   font-family: Arial;
   font-size: .55em;
   font-weight: 200;
 }
 .tick.tick-0 line {
   stroke-dasharray: 0;
 }
 .tick line {
   stroke: #e2e2e2;
   stroke-dasharray: 2;
 }
 
   .x-axis .tick text {
   text-anchor: middle;
 }
 
   .bars rect {
   fill: #8A2BE2;
   stroke: none;
   opacity: 0.55;
 }
</style>	

