<script>
	const name= 'Carolina Franchesca Vallejo Ortega';
 const hobbies = ' Play violin and music, Travel and history, Soccer and Enjoy watching movies and documentaires'


</script>

 <p>
	" <em> My name is</em> {name} <em>and these are some of my favourite things </em>: {hobbies}"
</p> 