<script>
    <script>
	let count = 0;

	function incrementCount() {
		count += 1;
	}
	
	function reset(){
		count = count- count;
	}
</script>

<button on:click={incrementCount}>
	Clicked: {count} {count === 1 ? 'time' : 'times'}
</button>
<button on:click={reset}>reset</button>
</script>

