<script>
  const width = 100;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <circle cx="46" cy="46" r="50"/>
		<rect x="-5" y="-5" width="100" height="100" />
  </g>
</svg>

<style>
	circle {
fill: skyblue;
}
rect {
fill: yellow;
opacity:0.5;

}
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>