<script>
  const width = 140;
  const height = 51;
  const margin = { top: 5, right: -140, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
</script>

<svg  viewBox="0 0 280 41">
	<circle cx={innerWidth / 2} cy={innerHeight / 2} r="20" fill="teal" />
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>