<script>
	let current = '';
</script>

<button
	class:selected="{current === 'messi'}"
	on:click="{() => current = 'messi'}"
>Messi</button>

<button
	class:selected="{current === 'Ronaldo'}"
	on:click="{() => current = 'Ronaldo'}"
>Ronaldo</button>

<button
	class:selected="{current === 'Neymar'}"
	on:click="{() => current = 'Neymar'}"
>Neymar</button>

<style>
	.selected {
		background-color: #ffbe00;
		
	}
</style>