<html>
	<div class="myDiv">
  <h2>Excercise 2</h2>
  <p>"The best visual channels ordered by Mackinlay's ranking: "</p>
		<ol>
			<li> Position</li>
			<li>Lenght</li>
			<li> Angle </li>
			
		</ol>
</div>
	</html>>
