<html>
	<head>
		<style>
			p.italic{
				font-style: italic;
			}
			p:{
				font-size: larger;
			}
			p {color:steelblue}
			
			</style>
		</head>
	
	<body>
		<p class="italic"> I <span style="color:red">really</span> like data visualisation!</p>
	</body>
	
</html>

